*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

@media(min-width:320px){
	#fly-icon{
		display:contents;
	}
	.fly1{
		display:none;
	}
}
@media(min-width:600px){
	
	.fly1{
		display:none;
	}
	#fly-icon{
		display:contents;
	}
	
}
@media(min-width:1025px){
	.whole1{
	width:100%;
	margin:0 auto;
    }
	#fly-icon{
		display:none;
	}
	.fly1{
		display:contents;
	}
}	

.fly{
	width:50;
	justify-content:space-between;
}
.fly img{
	margin-left:100%;
    margin-top:15%;
	
}
#fly-icon{
	width:50%;
}
#fly-icon i{
	font-size:30px;
	padding:20px 20px 10px 0px; 
}
.fly1 nav {
	
	padding-right:1px;
	position:absolute;
	margin-left:40%;
	font-family:cursive;
	display:flex;
}
nav a{
	color:#000000;
	text-decoration:none;
	padding:10px;
	margin-top:10px;
	font-family:sans-serif;
	
}
.fly1 nav a:hover{
	color:#87CEEB;
	transition-duration:1s;
}
.sticky{
	position:sticky;
	width:100%;
	height:70px;
	top:0;
	position:fixed;
	display:flex;
	justify-content:space-between;
	background-color:#FFFFFF;
	z-index:1;
	box-shadow:0 13px 8px -8px #00000063 ;
} 
                                          

@media(min-width:320px){
	.whole2{
		flex-direction:column-reverse;
		justify-content:center;
		margin:0 auto;
		width:100%;
	}
	.head2{
	    width:100%;
		text-align:center;
	
    }
	.image2{
		width:100%;
		margin:0 auto;
	}
}
@media(min-width:600px){
	.whole2{
		flex-direction:column-reverse;
		justify-content:center;
		margin:0 auto;
		align-items:center;
		text-align:enter;
		width:100%;
	}
	.head2{
	    width:100%;
		text-align:center;
	
    }
	.image2{
		width:50%;
	}
}
@media(min-width:1025px){
	.whole2{
		width:88%;
		flex-direction:row;
		
	}
	.head2{
	width:50%;
	
    }
	.image2{
	    width:50%;
    }
}
.container2{
	width:100%;
	margin:0 auto;
	background-color:#f9f9f9;
}
.whole2{
	display:flex;
	
	padding-top:150px;
	margin:0 auto;
	padding-bottom:100px;

}

.head2 h1{
	margin: 0;
    font-size:42px;
    font-weight: 700;
    color: #0f394c;
    text-transform: uppercase;
	font-family:"Dosis", sans-serif;
}

.head2 p{
	font-size:20;
	padding:15px 0 40px;
	font-family:sans-serif;
}
.head2 a{
	text-decoration:none;
	border:1px solid ;
	background:#49b5e7;
	color:#FFFFFF;
	padding:10px 30px;
	font-family:sans-serif;
	border-radius:5%;
}
.head2 a:hover{
	background:#87CEEB;
}

.image2 img{
	width:100%;
}
                                         
@media (min-width:320px){
	.whole3{
		width:100%;
		margin:auto;
		display:flex;
		flex-wrap:wrap;
		
		
	}
	.image3{
		width:100%;
		
	}
	.para3{
		text-align:center;
	}
	
}
@media (min-width:600px){
	.whole3{
    display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:98%;
	margin:auto;
	}
	.image3{
		width:98%;
		margin:0 auto;
	}
	.para3{
		text-align:center;
	}
}

@media (min-width:1025px){
	.whole3{
	width:80%;
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
	justify-content:space-between;
	padding-top:80px;
	flex-direction:row;
}
.image3 {
	width:41%
}
.para3{
	width:59%;
}
}

.container3{
	width:100%;
	margin:0 auto;
}

.image3{
	background:url(images/website2.jpg) center center no-repeat;
	background-size:cover;
	min-height:670px;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
}
.video3{
	border-radius:50%;
	box-shadow:0 0 0 15px #75d7ff6b;
	background:#49b5e7;
	color:white;
	position:absolute;
	justify-content:center;
	
	animation:mugi 1s 2s 1 linear;
    overflow:hidden;
}
@keyframes mugi{
   0%{outline:5px solid #34b4e987;outline-offset:1px;}
   100%{outline:1px solid #34b4e987;outline-offset:12px;}

}
.video3 i{
	padding:30px 30px;
    animation:mugunth 1s 2s 1 linear;
}
.video3:hover{
	box-shadow:0 0 0 15px #49b5e7;
	transition:3s ease-in-out;
}
@keyframes mugunth{
	0%{transform:scale(0.6, 0.6);
	opacity:1;}
	100%{transform:scale(6, 6);
	opacity:0;}
}


.para3>p{
	margin-bottom:2rem;
	font-size:18.5px;
	font-family: "Open Sans", sans-serif;
	line-height:24px;
	font-weight:50;
	margin-left:3%;
}
.para3>h1{
	font-size:26px;
	font-weight:700;
	color:#0f394c;
	margin-bottom:15px;
	font-family:"dosis",sans-serif;
	margin-left:3%;
	margin-top:7%;
	
}
.iconical3{
	display:flex;
	padding:24px 0;
}
.icon3{
	padding:5px 15px;
}
.icon3 i{
	border-radius:50%;
	border:1px solid #87CEEB;
	font-size:30px;
	color:#87CEEB;
	padding:15px 15px;
}
.icon3 i:hover{
	background:#49b5e7;
	color:#ffffff;
}
.iconside3 h1{
	font-weight:700;
	font-family:"Dosis",sans-serif;
	font-size:18px;
	padding:5px 0px;
}
.iconside3 h1:hover{
	color:#87CEEB;
}
.iconside3 p{
	line-height:24px;
	font-size:20px;
} 
                                       
@media(min-width:320px){
	.alpha4{
		width:50%;
		
	}
	.numbers4{
		width:100%;
		
	}
}
@media(min-width:600px){
	.alpha4{
		width:50%;
	}
	.numbers4{
		width:100%;
	}
}
@media(min-width:1025px){
	.alpha4{
		width:25%;
	}
	.numbers4{
		width:100%;
	}
}
.whole4{
	margin-top:5%;
	background-image:linear-gradient(#ffffff9e,#ffffff9e),url("images/counts-bg.jpg");
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	width:100%;
	height:400px;
	background-repeat:no-repeat;
}
.heading4{
	text-align:center;
}
.heading4 h1{
	font-weight:700;
	font-size:30px;
	font-family:"dosis",sans-serif;
	line-height:1.2;
	padding:80px 0 10px;
}
.heading4 p{
	color:#0f394c;
	margin-bottom:2rem;
	font-weight:500;
	font-size:20px;
}
.numbers4{
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
}
.alpha4{
	
	text-align:center;
}
.alpha4 h1{
	font-size: 44px;
    font-weight: 700;
    display: block;
    color: #49b5e7;
    font-family: "Dosis", sans-serif;
}
.alpha4 p{
    font-size: 20px;
    color: #444444;
} 
                                  
@media(min-width:320px){
	.image5 {
		width:50%;
	}
}
@media(min-width:600px){
	.image5{
		width:33%;
	}
}
@media(min-width:1025px){
	.image5{
	width:23%;
	margin-left:1.8%;
	}
}
.container5{
	width:100%;
	margin:0 auto;
	margin-top:5%;
}
.whole5{
	width:86%;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
}
.image5{
	justify-content:center;
	display:flex;
	align-items:center;
	overflow:hidden;
	height:120px;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	
}
.image5 img{
    filter:grayscale(100%);
	transition:0.5s;
	height:30%;
}
.image5 img:hover{
	filter:none;
	transform:scale(1.5);
}
                                              
@media (min-width:320px){
	.whole6{
		width:80%;
		margin:auto;
		
		
	}
	.section6{
		width:80%;
		margin:0 auto;
		
	}
	
}
@media (min-width:600px){
	.section6{
		width:44%;
		margin:auto;
		
		
	}
	
	
}
@media (min-width:1025px){
	.section6{
		
		margin:auto;
		width:30%;
		
		
	}
	.image7{
		width:98%;
		
	}
	
}
.container6{
	width:100%;
	margin:0 auto;
	background-color:#f4fbfe;
	margin-top:5%;
	height:650;
}
.heading6{
	text-align:center;
}
.heading6 h1{
	font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f394c;
}
.whole6{
	
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
}
.section6{
	box-shadow:0 13px 8px -8px #00000063;
	border-radius:5%;
    background-color:white;
	
    padding:40px;
    margin:0 auto;
	margin-top:4%;
	display:flex;
	position:relative;
	overflow:hidden;
	transition: all 0.3s ease-in-out;
	
}
.section6:hover{
	transform:translatey(-5px);
}
.para6{
	font-size:18px;
}
.para6 h1{
	font-size:20px;
	font-family:sans-serif;
	margin-left:28px;

}
.para6 p{
	padding:10px 0px 0px 30px;
	font-weight:100;
}
.section6:hover h1{
	color:#87CEEB;
}
.icon6{
	position:absolute;
	top:60px;
	left:-18px;
}
.icon6 i{
	font-size:65px;
}


                                           
@media (min-width:320px){
	.image9{
		width:100%;
		
		box-shadow:0 13px 8px -8px #00000063;
	    border-radius:3%;
		margin-bottom:2rem; 
	}
	.imagical9{
		
		width:98%;
		justify-content:space-between;
		margin:0 auto;
	}
	
}
@media (min-width:600px){
	.image9{
		width:48%;
		margin:auto;
		box-shadow:0 13px 8px -8px #00000063;
	    border-radius:3%;
		margin-bottom:2rem;
	}
	.imagical9{
		display:flex;
		flex:wrap;
		width:98%;
		justify-content:space-between;
		margin:0 auto;
	}
}
@media (min-width:1025px){
	.image9{
		width:23%;
		box-shadow:0 13px 8px -8px #00000063;
	    border-radius:3%;
	}
	.imagical9{
		width:100%;
		
	}
}
.container9{
	width:100%;
	background:#f4fbfe;
	margin:0 auto;
	height:0 auto;
}
.whole9{
	width:84%;
	margin:0 auto;
}
.whole9>h1{
	padding:50px 0 10px;
	text-align:center;
	font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}
.whole9>p{
	padding:5px 0 10px;
	text-align:center;
	font-size:20px;
}
.imagical9{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.pic9{
	position:relative;
	overflow:hidden;
}

.pic9 img{
	width:100%;
}
.icon9{
	position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.icon9 a{
	width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0px 3px;
    border-radius: 50px;
    background: rgba(73, 181, 231, 0.8);
    transition: all 0.3s ease-in-out 0s;
}
.icon9 i{
    font-size: 18px;
    line-height: 0;
}
.image9 .pic9:hover .icon9{
	bottom:15px;
	opacity:1;
}
.pic9 .icon9 a:hover {
   background:#76c7ed;
}
.para9{
	background:white;
	padding:10px 0  20px 10px;
}
.para9 h1{
	font-weight: 700;
    margin-bottom: 5px;
	margin-top:5px;
    font-size: 18px;
    color: #0f394c;
}                                                   
                                           
@media (min-width:320px){
	.section7{
		width:100%;
		margin:auto;
		
		
	}
	.image7{
		width:98%;
		
	}
	
}
@media (min-width:600px){
	.section7{
    display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:98%;
	margin:auto;
	}
	.image7{
		width:45%;
	
}
}
@media (min-width:1025px){
	.section7{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
    }
		
	
	
	.image7{
	width:31.5%;
	
}
}
.image7{
	
	transition: 0.3s;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
	margin-top:1%;
	position:relative;
}
.container7{
	width:100%;
	margin:0 auto;
	margin-top:5%;
}
.whole7{
	width:86%;
	margin:0 auto;
	text-align:center;
}
.whole7 h1{
	font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #0f394c;
	font-family:"dosis",sans-serif;
}
.whole7 p{
	padding:10px 0px 30px;
	font-size:20px;
}
.whole7 nav{
	padding-bottom:20px;
}
.whole7 nav a:hover{
	color:#87CEEB;
}


.image7:hover .portfolio-info{
	opacity:1;
}
.image7:hover::before{
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:1;
}
.portfolio-link i{
	color:#4dd1ef;
	font-size:30px;
}
.portfolio-info h4{
	font-size: 20px;
    color: #0f394c;
    font-weight: 600;
}
.portfolio-info p{
	font-size: 15px;
    color: #0f394c;
    font-weight: 100;
}

.image7:hover .portfolio-info::before{
	top:15px;
	left:15px;
}
.image7:hover .portfolio-info::after{
	bottom:15px;
	right:15px;
}
.portfolio-info::before{
	display:block;
	content:"";
	width:48px;
	height:48px;
	position:absolute;
	top:35px;
	left:35px;
	border-top:3px solid #bdc6ca;
	border-left:3px solid #bdc6ca;
	transition:all 0.5s ease 0s;
	
}
.portfolio-info::after{
	display:block;
	content:"";
	width:48px;
	height:48px;
	position:absolute;
	bottom:35px;
	right:35px;
	border-bottom:3px solid #bdc6ca;
	border-right:3px solid #bdc6ca;
	transition:all 0.5s ease 0s;
	
}
.image7::before{
	content:"";
	position:absolute;
	background-color:rgba(255, 255, 255, 0.6);
	left:30px;
	right:30px;
	top:30px;
	bottom:30px;
	
	opacity:0;
	transition:all ease-in-out 0.3s;
}
.portfolio-info{
	opacity:0;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	text-align:center;
	
	transition:all ease-in-out 0.3s;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.image7 img{
	width:100%;
}

.image8{
	text-align:center;
	
	
}
.image8 img{
	border-radius:50%;
	border:8px solid #2c364ad1;
	margin-top:4%;
	width:12%;
}
.para8{
	text-align:center;
	color:white;
	
	font-size:20px;
}
.para8 h1{
	font-size:20px;
	padding-top:7px;
}
.para8 h2{
	font-size:15px;
	font-weight:100;
	padding:7px 0px 20px;
}
.whole8{
	background-image:linear-gradient(#030810d1,#030810d1),url("images/cta-bg.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:0 auto;
	margin-top:5%;
}

                                        
@media (min-width:320px){
	.image10{
		width:100%;
		margin:auto;
	}	
		
	
	
}
@media (min-width:600px){
	.image10{
		width:33%;
	}
	
}
@media (min-width:1025px){
	
	.image10{
		width:23.5%;
		
	}
	
}
.container10{
	width:100%;
	margin:0 auto;
}
.whole10{
	width:88%;
	margin:0 auto;
	text-align:center;
}
.whole10 h1{
	padding:60px 0px 20px;
	font-family:sans-serif;
	font-size:32px;
}
.whole10 p{
	font-size:20px;
	padding-bottom:30px;
}
.pic10{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;

}
.image10{

	margin-top:0.2%;
	overflow:hidden;
}
.image10:hover img{
	transform:scale(1.1);
	transition:1s linear;
}
.image10 img{
	width:100%;
	overflow:hidden;
}

.container11{
	width:84%;
	margin:0 auto;
	margin-top:9%;
}
.whole11{
	width:88%;
	margin:0 auto;
	text-align:center;
}
.whole11 p{
	padding:5px 0px 20px;
	font-size:20px;
}
@media(min-width:320px){
	.box input{
		width: 78%;
	}
	.sub input{
		width:78%;
	}
	.form textarea{
		width:78%;
	}
	.submit{
		margin-left:29px;
	}
	.mright{
		margin-bottom:10px;
	}
	.search{
		width:100px;
	}
	.text input{
		width:175px;
	}
	.dflex{
		display:flex;
		flex-wrap:wrap;
	}
}
@media(min-width:600px){
	.dflex{
		display:flex;
		flex-wrap:wrap;
		margin:0 auto;
	}
	.mright{
		margin-bottom:20px;
	}
	.leftside{
		margin:0 auto;
	}
}
@media(min-width:1025px){
}
 
.dflex{
	display:flex;
	margin:0 auto;
	width:85%;
}
.icons i{
	color:#49b5e7;
	font-size:26px;
	height:50px;
	width:50px;

	border-radius:50%;
	border:2px solid #ebf7fc;
	background-color:#ebf7fc;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.icons:hover i{
	background-color:#49b5e7;
		border:2px solid #49b5e7;
	color:white;
	transition:1s;
}
.leftside{
   width:30%;
	margin-top:50px;
}
.teen{
	Padding:30px;
	padding-left:0;
	padding-top:0;
}
.teen{
	display:flex;
}
.loc{
	margin-left:20px;
	line-height:30px;
}

.submit{
	border:1px;
	height:40px;
	width:170px;
	color:white;
	text-align:center;
	justify-content:center;
	padding:10px;
	margin:5%;
	margin-left:39%;
	background-color:#49b5e7;
	border-radius:5%;
}
.submit:hover{
	background-color:#1da2e0;
}
.box input{
	height: 50px;
    width: 370px;
	border:1px solid #ced4da;
	border-radius:5px;
}
.sub input{
	height:53px;
	width:100%;
	margin-top:3%;
	padding-left:16px;
	border:1px solid #ced4da;
	border-radius:5px;
}
.form textarea{
	height:34%;
	width:100%;
	padding:7px;
	margin-top:26px;
	border:1px solid #ced4da;
	border-radius:5px;
}




.container13{
	background:#f0f9fd;
	text-align:center;
	height:280px;
	margin-top:3%;
}
.head13 h1{
	padding-top:5%;
}
.head13 p{
	padding:10px 0 40px;
	font-size:18px;
}

.form13 input{
	height:40px;
	border: 0;
    padding: 10px 8px;
	width:40%;

}

.form13{
	width:45%;
	margin:0 auto;
}
 
                                   
@media (min-width:320px){
	
	.whole14{
		width:100%;
		margin:0 auto;
		
	}	
    .butterfly{
		width:90%;
		margin:0 auto;
		
	}		
	
	
}
@media(min-width:600px){
	.butterfly{
		width:45%;
	}
	.whole14{
		justify-content:space-between;
	}
}
@media(min-width:1025px){
	.whole14{
		width:100%;
	}
	.butterfly{
		width:25%;
	}
}	
.container14{
	background: #fff;
	width:80%;
	margin:0 auto;
	font-size: 16px;
	margin-top:4%;
}

.butterfly p{
	padding:5px 0 5px;
}
.whole14{
	display:flex;
	flex-wrap:wrap;
}
.butterfly i{
	padding:10px 0 10px;
	color:#0ab2f7;
}
.butterfly a:hover {
	color:skyblue;
}
.butterfly a{
	text-decoration:none;
	color:black;
}
.butterfly a{
	text-decoration:none;
	color:black;
}
.butterfly a:hover{
	color:skyblue;
}
.butterfly i{
	padding:10px 0 10px;
	color:#0ab2f7;
}
.icon14 i{
	font-size: 18px;
    display: inline-block;
    background: #49b5e7;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.icon14 i:hover{
	background:#529bbd;
}
.butterfly p{
	padding:10px 0 10px;
}
@media(min-width:320px){
	.end{
		width:100%;
		text-align:center;
	}
}
@media(min-width:600px){
	.end{
		width:50%;
	}
}	
@media(min-width:1025px){
	.end{
		width:50%;
	}
}		
.container15{
	background:#f0f9fd;
	height:90px;
	margin:0 auto;
	margin-top:3%;
}
.whole15{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:80%;
	margin:0 auto;
	padding-top:3%;
	font-size:16px;
}
.end{
	
	justify-content:space-evenly;
}
.end a{
	text-decoration:none;
	color:skyblue;
}
.arrow-1 {
	position:fixed;
	right:15px;
	bottom:15px;
	z-index:996;
	background:#49b5e7;
	width:40px;
	height:40px;
	border-radius:10%;
	transition:all 0.4s;
	font-size:20px;
	color:white;
	justify-content:center;
	text-align:center;
}
.arrow-1 i{
	margin-top:24%;
}
